# Assignment Topic: Pandas

### Done By: Akshaj Piri

**Question 1**: Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Question 2**: Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
series = pd.Series(my_list)

print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

**Question 3**: Create a Pandas DataFrame that contains the following data:

![Screenshot 2023-05-29 at 5.26.19 PM.png]()


Then, print the DataFrame.

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Question 4**: What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure that can store data of different types (integer, float, string, etc.). It is similar to a table or a spreadsheet where data is organized in rows and columns. Each column in a DataFrame is represented by a Pandas Series, and together they form the DataFrame.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of a single data type. It can be thought of as a single column of a DataFrame.

In [4]:
# Example

import pandas as pd

# Create a DataFrame
data = {
    'Name': ['John', 'Emily', 'David'],
    'Age': [25, 30, 35],
    'City': ['New York', 'London', 'Sydney']
}
df = pd.DataFrame(data)

# Accessing a column as a Series
name_series = df['Name']
print(name_series)

0     John
1    Emily
2    David
Name: Name, dtype: object

**Question 5**: What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

There are several common functions in Pandas that can be used to manipulate data in a DataFrame. Some of them include:

**head()**: This function returns the first n rows of a DataFrame. It is useful to quickly preview the data or get a glimpse of the structure.

In [6]:
# Example

df.head(5)

    Name  Age      City
0   John   25  New York
1  Emily   30    London
2  David   35    Sydney

**tail()**: This function returns the last n rows of a DataFrame. It can be used to check the end of the data or verify the data structure.

In [7]:
# Example

df.tail(3)

    Name  Age      City
0   John   25  New York
1  Emily   30    London
2  David   35    Sydney

**describe()**: This function provides statistical summary of the DataFrame, including count, mean, min, max, etc. It gives a quick overview of the data distribution.

In [8]:
# Example

print(df.describe())

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

**info()**: This function provides concise information about the DataFrame, including column names, data types, and memory usage. It helps in understanding the data types and missing values.

In [9]:
# Example

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

**sort_values()**: This function sorts the DataFrame by one or more columns. It is useful for ordering the data based on specific criteria.

In [11]:
# Example

import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 32, 18, 45, 28],
        'Salary': [50000, 70000, 30000, 90000, 60000]}

df = pd.DataFrame(data)

# Sort the DataFrame by the 'Age' column in ascending order
df_sorted = df.sort_values('Age')

print(df_sorted)

      Name  Age  Salary
2  Charlie   18   30000
0    Alice   25   50000
4      Eve   28   60000
1      Bob   32   70000
3    David   45   90000

**Question 6**: Which of the following is mutable in nature Series, DataFrame, Panel?

Among the options given, both Series and DataFrame are **mutable** in nature, while Panel is **not mutable**.

- **Series**: A Series in Pandas is a one-dimensional labeled array that can hold any data type. It is mutable, which means its values can be modified after creation.

- **DataFrame**: A DataFrame in Pandas is a two-dimensional labeled data structure with columns of potentially different data types. It is also mutable, allowing modifications to its values, columns, and structure.

- **Panel**: A Panel is a three-dimensional data structure in Pandas, but it is considered deprecated and no longer recommended for general use. Panels are not mutable. The preferred alternative for handling three-dimensional data is to use MultiIndex DataFrame structures.

**Question 7**: Create a DataFrame using multiple Series. Explain with an example.

In [12]:
import pandas as pd

# Create two Series
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series(['a', 'b', 'c', 'd', 'e'])

# Create a DataFrame using the Series
df = pd.DataFrame({'Column1': s1, 'Column2': s2})

# Print the DataFrame
print(df)

   Column1 Column2
0        1       a
1        2       b
2        3       c
3        4       d
4        5       e